@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 112px;
}
@media (max-width: 992px) {
  main {
    padding: 0 16px;
  }
}

h2 {
  margin: 36px 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 6px;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 8px;
}
.city i {
  font-size: 24px;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 32px;
  font-size: 32px;
}
.explorer p {
  font-size: 16px;
}
.explorer button {
  color: white;
  font-weight: bold;
  font-size: 24px;
  font-family: Roboto;
  padding: 16px 32px;
  border-radius: 50px;
  border: none;
  transition: transform 100ms;
  margin-top: 24px;
  box-shadow: 0px 1px 7px -1px #000000;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
}
.explorer button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.fonctionnement {
  counter-reset: steps;
}
.fonctionnement h2 {
  margin-bottom: 36px;
}
.fonctionnement ol {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
@media (max-width: 992px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  position: relative;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 0px 1px 7px -1px #000000;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  height: 36px;
  width: 36px;
  bottom: 16px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.fonctionnement li:hover {
  transform: scale(1.05);
  transition: transform 100ms;
  opacity: 0.9;
}
.fonctionnement li i {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 24px;
}

.restaurants {
  background-color: #f6f6f6;
  margin-top: 60px;
  padding: 1px 0;
  margin-bottom: 32px;
}
.restaurants h2 {
  margin-bottom: 36px;
  margin-left: 16px;
}
.restaurants .menus_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 44px;
}
@media (max-width: 992px) {
  .restaurants .menus_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants .menus_cards .new {
  position: relative;
}
.restaurants .menus_cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 95px;
  font-weight: bold;
  background-color: #99e2d0;
  color: #24806a;
  display: grid;
  place-items: center;
  right: 32px;
  top: 32px;
  border-radius: 5%;
}
.restaurants .cards_image {
  height: 240px;
  border-radius: 16px 16px 0 0;
  background-size: cover;
}
.restaurants .cards_image-1 {
  background-image: url(../../assets/menu_1.jpg);
}
.restaurants .cards_image-2 {
  background-image: url(../../assets/menu_2.jpg);
}
.restaurants .cards_image-3 {
  background-image: url(../../assets/menu_3.jpg);
}
.restaurants .cards_image-4 {
  background-image: url(../../assets/menu_4.jpg);
}
.restaurants .cards_description {
  position: relative;
  background-color: white;
  border-radius: 0 0 16px 16px;
  font-family: "Roboto";
}
.restaurants .cards_description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  opacity: 1;
  transition: all 200ms;
}
.restaurants .cards_description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  opacity: 1;
  transition: all 200ms;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
.restaurants .cards_description:hover::after {
  opacity: 1;
}
.restaurants .cards_description h3,
.restaurants .cards_description p {
  margin-left: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
}
.restaurants .cards_description:hover .fas {
  opacity: 1;
}

footer {
  background-color: rgb(46, 44, 44);
  color: white;
  padding: 8px 32px;
  margin-top: 32px;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 500;
}
footer p {
  padding: 8px 0px;
}

body {
  background-color: #f6f6f6;
}

.banner img {
  width: 100%;
  max-height: 90vh;
  object-fit: cover;
  object-position: center;
}

.menu_main {
  padding: 16px;
}
.menu_main h2 {
  position: relative;
  font-family: "Shrikhand", "sans-serif";
  margin-top: -40px;
  background-color: #f6f6f6;
  width: 99vmax;
  padding: 32px 16px;
  border-radius: 16px 16px 0 0;
}
.menu_main h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  opacity: 1;
  transition: all 200ms;
}
.menu_main h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 32px;
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  opacity: 1;
  transition: all 200ms;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 0;
  color: transparent;
  font-weight: 900;
}
.menu_main h2:hover::after {
  opacity: 1;
}
.menu_main .menu_grid {
  padding: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 992px) {
  .menu_main .menu_grid {
    grid-template-columns: 1fr;
  }
}
.menu_main .menu_category {
  padding: inherit;
}
.menu_main .food_item {
  background-color: white;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 1px 7px -1px #000000;
}
.menu_main .food_item__description {
  padding: 16px;
  overflow: hidden;
}
.menu_main .food_item__description .food_item__title {
  margin: 0;
}
.menu_main .food_item__price {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  padding: 16px;
}
.menu_main .food_item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 16px 16px 0;
  background-color: #99e2d0;
  margin-right: -55px;
  width: 55px;
  transition: margin-right 0.5s;
}
.menu_main .food_item__check i {
  display: grid;
  place-items: center;
  background: white;
  color: #99e2d0;
  aspect-ratio: 1;
  width: 32px;
  border-radius: 50%;
}
.menu_main:hover .food_item__check {
  margin-right: 0;
}
.menu_main:hover i {
  animation: quarter-spin 0.5s ease-in-out;
}
@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
