@use "./../utils/mixins";

.explorer {
    text-align: center;
    
    & h2 {
        margin-top: 32px;
        font-size: 32px;
    }

    & p {
        font-size: 16px;
    }

    & button {
        @include mixins.base-button;
    }
}

.loader {
    position: fixed;
    height: 100vh;
    inset: 0;
    z-index: 1;
    background-color: #ffffff;
    opacity: 0.9;
    animation: disappear 1s;
    animation-fill-mode: forwards;
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}