@use "./../utils/mixins";
@use "./../utils/variables";

.explorer {
    text-align: center;
    margin: 32px;
    
    & h2 {
        font-size: 24px;
    }

    & p {
        font-size: 16px;
    }

    & button {
        @include mixins.base-button;
        font-size: 16px;
    }
}

.loader {
    $animation_duration: 3s;
    position: fixed;
    height: 100vh;
    inset: 0;
    z-index: 1;
    background-color: #ffffff;
    opacity: 0.9;
    animation: disappear 200ms $animation_duration forwards;
    transform-origin: top;
    display: grid;
    place-items: center;
    i {
        animation: spin $animation_duration infinite linear;
    }
}

@keyframes disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}