@use "../utils/mixins";


.fonctionnement {
    counter-reset: steps;
    h2 {
        margin-bottom: 36px;
    }

    & ol {
        display: flex;
        gap: 32px;
        @media (max-width: 992px) {
            flex-direction: column;
        }
        list-style-type: none;
    }

    & li {
        position: relative;
        &::before{
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: #9356DC;
            height: 36px;
            width: 36px;
            bottom: 16px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
        }
        background-color: #f6f6f6;
        padding: 24px 32px;
        flex-grow: 1;
        border-radius: 16px;
        @include mixins.base-shadow;
        &:hover {
            @include mixins.zoom;
        }
        & i {
            margin-right: 16px;
            color: #7e7e7e;
            font-size: 24px;
        }
    }

}
