footer {
    background-color: rgb(46, 44, 44);
    color: white;
    padding: 8px 32px;
    margin-top: 32px;
    h2 {
        font-family: 'Shrikhand';
        font-weight: 500;
    }
    p {
        padding: 8px 0px;
    }
    i {
        margin-right: 16px;
    }
}